body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;

    min-height: 100vh;

    background:
        linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url("netbeans.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Header */

header {
    background: rgba(0, 0, 0, 0.65);
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Container */

.container {
    width: 520px;
    margin: 30px auto;

    background: rgba(0, 0, 0, 0.45);

    padding: 25px;

    border-radius: 12px;

    backdrop-filter: blur(6px);

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

/* Labels */

label {
    display: block;
    margin-top: 12px;
    font-size: 14px;
}

/* Inputs */

input,
select {

    width: 100%;
    padding: 10px;
    margin-top: 6px;

    background: rgba(255, 255, 255, 0.08);

    border: 1px solid rgba(255, 255, 255, 0.2);

    color: white;

    border-radius: 5px;

}

/* Buttons */

.buttons {
    margin-top: 18px;
}

button {
    padding: 8px 14px;
    margin: 5px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
}

/* Button Colors */

.generate {
    background: #22c55e;
}

.print {
    background: #3b82f6;
}

.excel {
    background: #14b8a6;
}

.dashboard {
    background: #a855f7;
}

.clear {
    background: #f59e0b;
}

/* Salary slip */

pre {
    background: rgba(0, 0, 0, 0.7);
    color: #22c55e;
    padding: 12px;
    margin-top: 15px;
    border-radius: 6px;
    font-size: 13px;
}

/* Table */

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 13px;
}

th,
td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 6px;
    text-align: center;
}

th {
    background: rgba(0, 0, 0, 0.7);
}

td {
    background: rgba(0, 0, 0, 0.4);
}

/* Responsive mobile */

@media (max-width:768px) {

    header {
        font-size: 20px;
        padding: 15px;
    }

    .container {
        width: 92%;
        margin: 20px auto;
        padding: 18px;
    }

    button {
        padding: 7px 10px;
        font-size: 12px;
    }

}